<IfModule mod_rewrite.c>
    Options All

    # 开启URL重写
    RewriteEngine On

    # 重写条件，字符串在前，正则在后
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    #重写规则，正则在前，字符串在后
    RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]
</IfModule>